html,
body {
	padding: 0;
	margin: 0;
}

html,
body,
body > div:first-child,
div#root,
div#root > div {
	height: 100%;
}

* {
	box-sizing: border-box;
}

.center-vertically {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	height: 100%;
}

.page-header {
	display: flex;
	gap: 1rem;
	align-items: center;
}
